<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel2">Política de Accesibilidad</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      

        <p><b>Política de Accesibilidad para la web oficial de CNE (Proyecto  Ciclista Norte España)</b></p>

        <p>En el Proyecto Ciclista Norte España (CNE), creemos en la inclusión y por ello nos comprometemos a ofrecer una experiencia digital accesible para todos. Trabajamos constantemente para que nuestro sitio web, dedicado al Ciclocrós y al mundo del deporte en general, cumpla con los estándares de accesibilidad más actuales y reconocidos a nivel internacional.</p> <p>Sabemos lo importante que es contar con un entorno en línea inclusivo, donde cualquier persona, sin importar sus capacidades o limitaciones, pueda acceder a la información y novedades sobre este emocionante deporte.</p> <p>Para lograrlo, se implementan diversas acciones, entre las que destacan:</p>
<b>1. Diseño Resposive:</b>

<p>Hemos optimizado nuestro sitio web para que se adapte de forma automática a distintos dispositivos y tamaños de pantalla, garantizando una navegación fluida y cómoda.</p>
<b>2. Contenido Accesible:</b>

<p>Incluimos descripciones de texto alternativas para imágenes y gráficos, facilitando el acceso a la información a personas con discapacidad visual o que utilicen herramientas de asistencia.</p>
<b>3. Navegación Sencilla e Intuitiva:</b>

<p>La estructura de nuestro sitio web ha sido diseñada para ser clara y organizada, disponiendo de menús intuitivos que permiten acceder fácilmente a la información relevante sobre el Ciclocrós.</p>
<b>4. Mejoras en Legibilidad:</b>

<p>Priorizamos un alto contraste y combinaciones de colores adecuadas para asegurar una lectura cómoda, beneficiando especialmente a personas con dificultades visuales.</p>
<b>5. Compatibilidad con Herramientas de Asistencia:</b>

<p>Nos esforzamos por garantizar que nuestro sitio sea totalmente compatible con lectores de pantalla y otras tecnologías de apoyo, permitiendo una interacción completa con nuestros contenidos.</p> <p>Nuestra meta es ofrecer un espacio digital accesible e inclusivo que refleje la pasión por el deporte y en concreto por el Ciclocrós. Apreciamos las sugerencias de nuestros usuarios y seguimos trabajando para mejorar continuamente nuestra accesibilidad.</p>

<p>Feedback y mejoras: Valoramos los comentarios de nuestros usuarios. Si encuentras algún problema de accesibilidad en nuestro sitio, por favor, háznoslo saber para que podamos corregirlo.</p>

<p>En CNE estamos comprometidos con la accesibilidad y continuaremos trabajando para mejorar nuestra plataforma y hacerla más inclusiva para todos. Si tienes alguna pregunta o sugerencia, no dudes en contactarnos enviando un email a administracion@ciclo.es. </p>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Entendido</button>

    </div>
  </div>
</div>
</div>