<!-- Modal para Aviso Legal -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Aviso Legal</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      

        <p>
          <b>AVISO LEGAL</b><br>
        
<b>CNE.es,</b> (en adelante, el SITIO WEB) es un dominio en Internet, que contiene un portal o página Web, cuya titularidad es de CNE S.l. (CIF Q28749836J), Corporación de Derecho Público, creado por Decreto 356/1964 de 12 de Febrero, con domicilio social en calle Princesa, 85, 28008 Madrid, y dirección general de correo electrónico administracion@cne.es.<br><br>
                      La página Web de CNE s.l., en adelante CNE tiene por objeto facilitar al ciudadano y a los deportistas información relativa a sus actividades corporativas y a los servicios que ofrece, así como proporcionar servicios a distancia a estos últimos para permitirles ahorrar tiempo en desplazamientos y gestiones telefónicas con las distintas áreas. <br><br>                          
                      Con esta página Web, el CNE pretende prestar un servicio útil, por lo que las sugerencias de los usuarios son bienvenidas. Pero si no está de acuerdo con alguna de las condiciones contenidas en este aviso, deberá dejar de utilizar la página Web del CNE. El acceso a la misma implica la aceptación de las mismas sin reservas. La utilización de determinados servicios ofrecidos en este sitio se regirá, además, por las condiciones particulares previstas en cada caso, las cuales se entenderán aceptadas por el mero uso de tales servicios. <br><br>                        
                      <b>Condiciones de utilización del portal</b><br><br>                          
                      Las condiciones establecidas a continuación regulan el uso permitido del SITIO WEB.<br><br>
                      
                      <b>1. Acceso.</b> Hay determinadas partes del SITIO WEB cuyo acceso está reservado a los deportistas, mediante un identificador de usuario y una contraseña. Los usuarios no deportistas pueden visitar las secciones públicas del portal, no debiendo intentar nunca el acceso a las secciones de acceso restringido, salvo que le haya sido autorizado mediante la asignación de un identificador de usuario y una contraseña. <br><br>
                      
                      <b>2. Modificaciones de la página e interrupciones o errores en el acceso.</b> El CNE se reserva la facultad de efectuar, en cualquier momento y sin necesidad de previo aviso, modificaciones y actualizaciones de la información contenida en la página Web, de la configuración y presentación de ésta y de las condiciones de acceso. <br><br>
                      
                      El CNE no es responsable de los fallos que se produzcan en las comunicaciones, no garantizando la disponibilidad y continuidad del funcionamiento del portal y de los servicios, por ello el CNE no garantiza la inexistencia de interrupciones o errores en el acceso a la página Web o a su contenido. El CNE llevará a cabo, siempre que no concurran causas que lo hagan imposible o de difícil ejecución, y tan pronto tenga noticia de los errores, desconexiones o falta de actualización en los contenidos, todas aquellas labores tendentes a subsanar los errores, restablecer la comunicación y actualizar los contenidos. <br><br>
                      
                      <b>3. Propiedad intelectual.</b> Salvo indicación expresa, el contenido de la página Web, imágenes, textos y datos, son propiedad del CNE. Asimismo, es propiedad de CNE su código fuente, diseño y estructura de navegación. Corresponde al CNE el ejercicio exclusivo de los derechos de explotación de los mismos en cualquier forma, y en especial los derechos de reproducción, distribución, comunicación pública y transformación. Todo este material está protegido por la legislación de la propiedad intelectual y su uso indebido puede ser objeto de sanciones, incluso penales. <br><br>
                      
                      La consulta o descarga de contenidos de la página o de cualquier software no implicará la cesión de ningún derecho de propiedad intelectual o industrial sobre los mismos. <br><br>
                      
                      Se autoriza la visualización, impresión y descarga parcial del contenido de la página Web sólo y exclusivamente si concurren las siguientes condiciones:<br>
                      
                      Que sea compatible con los fines de la página Web.<br>
                      Que no se realice con fines comerciales o para su distribución, comunicación pública o transformación.<br>
                      Que ninguno de los contenidos de la página Web sea modificado.<br>
                      Que ningún gráfico, icono o imagen disponible en la Web sea utilizado, copiado o distribuido separadamente del texto o del resto de imágenes que lo acompañan.<br>
                      Que se cite la fuente.<br>
                      Toda la información que se reciba en estas páginas, tal como comentarios, sugerencias o ideas, se considerará cedida a título gratuito. No envíe información que no pueda ser tratada de esta forma. <br><br>
                      
                      <b>4. Seguridad.</b> CNE ha adoptado las medidas de índole técnica y organizativas necesarias que garanticen la seguridad de la información y en especial de los datos de carácter personal que pudieran ser facilitados por el USUARIO y eviten su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que estén expuestos, ya provengan de la acción humana o del medio físico o natural.No obstante, el USUARIO debe saber que las medidas de seguridad en Internet no son inexpugnables. <br><br>
                      
                      El CNE, consciente de los riesgos derivados de enfrentarse a los nuevos retos que supone extender sus servicios a través de Internet, ha dispuesto de exigentes medidas de seguridad para reducir dichos riesgos. <br><br>
                      
                      No obstante, el CNE no puede garantizar la invulnerabilidad absoluta de sus sistemas de seguridad, por lo que excluye cualquier tipo de responsabilidad por daños y perjuicios de toda naturaleza que puedan deberse a la presencia de virus u otros elementos que puedan producir alteraciones en el sistema informático (software y hardware), documentos electrónicos y ficheros del usuario o de cualquier tercero, incluyendo los que se produzcan en los servicios prestados por terceros a través de este portal. <br><br>
                      
                      Los usuarios quedan informados de que la utilización de los sistemas electrónicos de transmisión de datos y el correo electrónico no ofrecen garantías absolutas de seguridad. El usuario y CNE se exoneran mutuamente de cualquier responsabilidad derivada de hechos como la no recepción o la demora de la misma, el error o intercepción de las comunicaciones. <br><br>
                      
                      <b>5. Contenidos y páginas enlazadas.</b> La información contenida en SITIO WEB, tiene dicho carácter meramente informativo; y, en ningún caso, constituye ningún tipo de asesoramiento. La política de CNE es tratar de que los contenidos estén siempre actualizados, pero puede suceder que no lo estén, especialmente los de carácter normativo.<br>
                      La función de los links, o enlaces, que aparecen en esta página es exclusivamente la de informar al usuario sobre la existencia de otras fuentes de información sobre la materia en Internet, donde podrá ampliar o completar los datos ofrecidos en esta página. El CNE no será responsable del resultado obtenido a través de dichos enlaces. <br><br>
                      
                      En todo caso el CNE no asume responsabilidad alguna derivada de los contenidos enlazados desde la su página Web, ni garantiza la ausencia de virus u otros elementos en los mismos que puedan producir alteraciones en el sistema informático (hardware y software), en los documentos o los ficheros del usuario, excluyendo cualquier responsabilidad por los daños de cualquier clase causados al usuario por este motivo. <br><br>
                      
                      Aunque los enlaces son supervisados regularmente para que no suceda, en el caso de que cualquier usuario o un tercero, considerara que el contenido o los servicios prestados por las páginas enlazadas son ilícitos, vulneran valores o principios constitucionales, o lesionan bienes o derechos del propio usuario o de un tercero se ruega que se comunique inmediatamente a CNE s.l., c/ Princesa, 85, 28008 Madrid o administracion@CNE.es dicha circunstancia, y especialmente si los enlaces consisten en:<br><br>
                      
                      Actividades o contenidos susceptibles de ser considerados delictivos conforme la normativa penal española.<br>
                      Actividades o contenidos que violen derechos de propiedad intelectual o industrial.<br>
                      Actividades o contenidos que pongan en peligro el orden público, la investigación penal, la seguridad pública y la defensa nacional.<br>
                      Actividades o contenidos que pongan en peligro la protección de la salud pública, el respeto a la dignidad de la persona, al principio de no discriminación, la protección de la salud y la infancia o cualquier otro valor o principio constitucional.<br><br>
                      6. Responsabilidad del USUARIO. El USUARIO se compromete a no utilizar el SITIO WEB ni la información ofrecida en el mismo para la realización de actividades contrarias a la Ley, la moral o el orden público y, en general, a hacer un uso conforme a las condiciones establecidas por el CNE.Las opiniones, contenidos y, en general, todas las actividades realizadas por el USUARIO, son de su exclusiva responsabilidad, sin que pueda responsabilizarse al CNE de los daños o perjuicios que pudieran derivarse de dichas actividades ajenas a su voluntad y sin que ésta tenga un conocimiento efectivo de las mismas. <br><br>
                      
                      <b>7. Protección de datos personales.</b> Los datos personales vinculados a este SITIO WEB respetan las exigencias de la legislación vigente en materia de protección de datos personales.<br><br>
                      
                      El CNE tratará los datos de carácter personal que se recojan a través de este SITIO WEB cumpliendo con la normativa vigente sobre protección de datos. Los datos de carácter obligatorio serán indicados con un asterisco (*).<br><br>
                      
                      El CNE tratará la información facilitada por el USUARIO con las siguientes finalidades:<br>
                      
                      Gestionar la relación establecida entre el CNE y el USUARIO a través del SITIO WEB.<br>
                      Prestar los servicios solicitados por el USUARIO, entre los que se incluye:<br>
                      La inscripción a eventos o actividades formativas ya sea como ponente o asistente y la gestión de los mismos,                        La publicación de cursos y/o artículos científicos propiedad del USUARIO en medios propios.<br>
                      Enviar información requerida por el USUARIO a modo de respuesta a solicitudes de información.<br>
                      Si así lo solicitase el USUARIO, incluir sus datos en la bolsa de empleo.<br>
                      La base jurídica que legitima este tratamiento será el consentimiento otorgado por el USUARIO. Con esta finalidad, los datos serán conservados de forma indefinida o bien hasta que el USUARIO ejerza su derecho de oposición al tratamiento, supresión o limitación.<br><br>
                      
                      Adicionalmente, y en el caso de que el USUARIO asista a determinados eventos de los organizados por el titular, los datos del USUARIO, concretamente su dirección de correo electrónico y su dirección IP, serán utilizados con la finalidad de enviar una encuesta de satisfacción sobre el evento concreto. La base jurídica que legitima este tratamiento es el interés legítimo de la empresa en constatar el grado de satisfacción de los asistentes en aras a mejorar el servicio prestado. Con esta finalidad, los datos serán conservados por un plazo de 2 años tras la finalización del evento con la finalidad de responder a las posibles responsabilidades legales de la empresa.<br><br>
                      
                      Además, y si así lo autoriza el USUARIO marcando la correspondiente casilla, sus datos serán utilizados con las siguientes finalidades adicionales:<br>
                      
                      Enviar información sobre nuevos productos o servicios similares a los solicitados o contratados originalmente o que pudieran ser de su interés por cualquier medio, incluido el electrónico, incluso cuando finalice la relación establecida entre el CNE y el USUARIO.
                      La base jurídica que legitima este tratamiento será el consentimiento otorgado por el USUARIO. Con esta finalidad, los datos serán conservados de forma indefinida o bien hasta que el USUARIO ejerza su derecho de oposición al tratamiento, supresión o limitación.<br><br>
                      
                      Los datos que el USUARIO haya facilitado al CNE no serán comunicados a ningún tercero, salvo que:<br>
                      
                      La cesión esté autorizada en una ley.<br>
                      El tratamiento responda a la libre y legítima aceptación de una relación jurídica cuyo desarrollo, cumplimiento y control implique necesariamente la conexión de dicho tratamiento con ficheros de terceros, como por ejemplo, entidades bancarias para la facturación de los productos o servicios contratados o empresas de mensajería para el envío de los productos contratados.<br>
                      Los datos sean solicitados por el Defensor del Pueblo, el Ministerio Fiscal o los Jueces o Tribunales o el Tribunal de Cuentas, en el ejercicio de las funciones que tienen atribuidas.<br>
                      En el caso de que el USUARIO participe en la bolsa de empleo, sus datos podrán ser cedidos a aquellas empresas u organizaciones cuya oferta resulte de interés para el USUARIO.<br>
                      Al facilitar sus datos el USUARIO garantiza haber leído y aceptado expresamente el tratamiento de sus datos personales conforme a lo indicado. No obstante, en todo momento podrá revocar el consentimiento prestado, así como ejercer sus derechos de acceso, rectificación, supresión, oposición, limitación de su tratamiento y portabilidad, cuando dichos derechos sean aplicables, a través de comunicación escrita a la dirección de arriba indicada aportando fotocopia de su DNI o documento equivalente y concretando su solicitud.<br>
                      
                      Asimismo, si considera que sus datos han sido tratados de forma inadecuada, tendrá derecho a presentar una reclamación ante la Agencia Española de protección de Datos (C/ Jorge Juan, 6. 28001 – Madrid www.aepd.es).<br>
                      <br>
                      <b>8. Política de cookies.</b><br><br>
                      
                      El CNE informa al USUARIO de que el SITIO WEB utiliza cookies con la finalidad de permitir y gestionar el acceso así como para medir y analizar la navegación de los USUARIOS. Las cookies son unos archivos que se instalan en el equipo desde el que accede al SITIO WEB u que se utilizan con las finalidades indicadas.<br><br>
                      
                      Estas son las cookies que utilizamos y su finalidad:<br>
                      
                      <b>Cookies técnicas:</b> necesarias o convenientes para la prestación de determinados servicios. Si se desactivan estas cookies, no podrá recibir correctamente los contenidos del Sitio Web.<br>
                      <b>Cookies analíticas:</b> para el seguimiento y análisis estadístico del comportamiento del conjunto de los usuarios. Si se desactivan estas cookies, el SITIO WEB podrá seguir funcionando, sin perjuicio de que la información captada por estas cookies sobre el uso de nuestra web y sobre su contenido permite mejorar nuestros servicios. En concreto, CNE utiliza cookies de Google Analytics, cuyo fin es generar un identificador de usuario único, utilizado para efectuar un recuento de cuántas veces visita el sitio un usuario, así como la fecha de la primera y la última vez que visitó la web.<br>
                      La base jurídica que legitima el tratamiento de la información obtenida a través de cookies es su consentimiento, y el plazo de conservación de esta información será de 2 años.<br><br>
                      
                      La información obtenida a través de las cookies se almacena en servidores de Google establecidos en EEUU, país que no garantiza un nivel adecuado de protección de datos. No obstante, Google se encuentra adherido al Escudo de Privacidad o “Privacy Shield”, y además cuenta con la autorización de la Agencia Española de Protección de Datos (AEPD) para transferir datos personales a Estados Unidos.<br><br>
                      
                      El USUARIO podrá en todo momento podrá revocar el consentimiento prestado, así como ejercer sus derechos de acceso, rectificación, supresión, oposición, limitación de su tratamiento y portabilidad, cuando dichos derechos sean aplicables, a través de comunicación escrita a la dirección de arriba indicada aportando fotocopia de su DNI o documento equivalente y concretando su solicitud. Asimismo, si considera que sus datos han sido tratados de forma inadecuada, tendrá derecho a presentar una reclamación en el domicilio arriba indicado, al PDO protecciondatos@CNE.es, y ante la Agencia Española de protección de Datos (C/ Jorge Juan, 6. 28001 – Madrid www.aepd.es).<br><br>
                      
                      No obstante, para ello será necesario poder identificar al usuario que los solicita y vincular al mismo con los datos obtenidos de las cookies. En algunos casos, esta identificación no siempre es posible salvo que el usuario pudiese acreditar su identificación. <br><br>
                      
                      <b>9. Enlace de terceros al SITIO WEB.</b> Todo enlace de terceros al SITIO WEB debe serlo a su página principal, quedando expresamente prohibidos los links profundos, el framing y cualquier otro aprovechamiento de los contenidos del SITIO WEB a favor de terceros no autorizados. <br><br>
                      
                      <b>10. Responsabilidades:</b> El CNE no será, en ningún caso, responsable, por los daños y perjuicios de cualquier tipo derivados, directa o indirectamente, de la falta de lectura de este aviso, o del incumplimiento de las obligaciones especificadas en las condiciones establecidas en el mismo. Asimismo, de acuerdo con lo expuesto en estas condiciones, el CNE excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a la página Web o sus contenidos. <br><br>
                      
                      El CNE, por tanto, no se responsabiliza del uso indebido del portal y de sus contenidos y servicios, ni puede garantizar, aunque sea su ánimo, la certeza de sus contenidos. Igualmente no garantiza la veracidad de los contenidos publicitarios de cualquier bien, producto o servicio anunciado. <br><br>
                      
                      El usuario responderá de los daños y perjuicios que una actitud negligente suya pudiera ocasionar a este portal. <br><br>
                      
                      <b>11. Fuero jurisdiccional.</b> El CNE y el usuario, con renuncia expresa a cualquier otro fuero, se someten para cualquier controversia que pudiera derivarse del acceso o uso de la Web al de los Juzgados y Tribunales de la ciudad de Madrid (España). <br><br>

</p>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Entendido</button>

    </div>
  </div>
</div>
</div>