<!--pie web-->
<footer class="footer bg-dark text-white text-center py-2" style="position: relative; bottom: 0; width: 100%">
  <p><b>Proyecto Ciclista Norte de España © 2025. <i>Todos los derechos reservados.</i></b></p>

  <p>Fecha y última hora de conexión: <span id="fechaHora"></span></p>
  <address>
    <details>
      <summary class="btn btn-danger mb-4">Más información</summary>
      <div class="container-fluid mb-5">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">

            <div class="list-group">
              <a href="/" class="list-group-item list-group-item-action">Ciclocrós 2025</a>
              <a href="/competiciones"
                class="list-group-item list-group-item-action list-group-item-dark">Competiciones</a>
              <a href="/ciclistas" class="list-group-item list-group-item-action">Ciclistas</a>
              <a href="/contacto" class="list-group-item list-group-item-action list-group-item-dark">Contacto</a>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div>
              <ul class="list-unstyled">
                <li><b>Autora:</b> Diana Pichel</li>
                <li><b>Universidad</b> Isabel I de Castilla</li>
                <li><b>Grado en </b> Ingeniería Informática</li>
                <li><i>TFG</i></li>
                <li>2025</li>
              </ul>
            </div>

          </div>

          <div class="col-lg-4 col-md-6 col-12">

            <div class="list-group">
              <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop1">
                Aviso Legal
              </button>
              <button type="button" class="list-group-item list-group-item-action list-group-item-dark"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                Política de Accesibilidad
              </button>
            </div>
            <div>
              <img class="img-fluid mt-4 mb-4" width="300" src="imagenes/cne.png"
                alt="Logo Proyecto Ciclista Norte de España">
            </div>
          </div>
        </div>
      </div>
    </details>
  </address>
</footer>