<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Si ya existe en otro nivel, esta entrada podría no ser necesaria -->
      <!-- <add name="iisnode" path="app.js" verb="*" modules="iisnode" resourceType="File" /> -->
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeJs">
          <match url=".*" />
          <action type="Rewrite" url="app.js" />
        </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{CACHE_URL}" pattern="^(https?)://" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}://http://127.0.0.1:3001/{R:1}" />
                </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

