<!--Pie de la web-->
<footer class="footer bg-dark text-white text-center py-2 mt-auto" style="position: relative; bottom: 0; width: 100%">
  <p><b>Proyecto Ciclista Norte de España©</b>  2025. <i>Todos los derechos reservados</i></p>

  <address>
    <details>
      <summary class="btn btn-info mb-4">Más información</summary>
      <div class="container-fluid mb-5">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div>
              <ul class="list-unstyled">
                <li><b>Autora:</b> Diana Pichel</li>
                <li><b>Universidad</b> Isabel I de Castilla</li>
                <li><b>Grado en </b> Ingeniería Informática</li>
                <li><i>TFG</i></li>
                <li>2024/2025</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </details>
  </address>
</footer>
