<h1 class="text-danger text-center"><i>Modo administrador</i></h1>

<p class="text-center">
  <a href="/backoffice/competiciones" class="text-success"><b>COMPETICIONES</b></a> ·
  <a href="/backoffice/noticias" class="text-success"><b>NOTICIAS</b></a> ·
  <a href="/backoffice/ciclistas" class="text-success"><b>CICLISTAS</b></a> ·
  <a href="/backoffice/auth/logout" class="text-success"><b>CERRAR SESIÓN</b></a>
</p>


<style>
   a {
    text-decoration: none;
   }

  .text-success:hover {
      text-decoration: underline;
  }
</style>